doctype html
html(lang="en")
  head
    title Node boilerplate
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .body-wrapper
      include includes/header.pug
      .main
        block content
      include includes/footer.pug
    script(src="/js/app.js")
