$tablet: '(min-width: 30em) and (max-width: 49em)';
$phone: '(max-width: 30em)';
$desktop: '(min-width: 49em)';
$tablet-up: '(min-width: 30em)';
$up-to-tablet: '(max-width: 49em)';
$extra-small-screen: '(max-width: 23em)';

$desktop-grid-max-width: 1200px;

$neat-grid: (
  columns: 12,
  gutter: 0,
);

@mixin device($device-widths) {
  @media screen and #{$device-widths} { @content }
}
